body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border-top: none;
  margin: 0;
  padding: 0;
}

/* Grid Layout*/
.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 30vh;
  /*background-color: #2196F3;*/
  /*padding: 10px;*/
}
.grid-item {
  background-color: none;
  /*border: 0.5px solid rgba(0, 0, 0, 0.8);*/
  padding: 20px;
  margin:2px;
  font-size: 30px;
  /*text-align: center;*/
}

#RED{
    background-color:#da2525;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation: example 1s infinite;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {background-color: red;}
  to {background-color: #821111;}
}

/* Standard syntax */
@keyframes example {
  from {background-color: red;}
  to {background-color: #821111;}
}

#GREEN{
    background-color:#2b922b;
}

#BLUE{
    background-color:#99f;
}

#AMBER{
    background-color:#ec7c20;
}

#GREY{
    background-color:#ddd;
}

#RED, #GREEN, #AMBER, #BLUE, #GREY{
    word-break:break-word;
    position: relative;
    transition: transform .2s;
    border-radius: 3px;
    color: white;
}

.monitor-content{
    font-size:2.5vh;
}

.grid-item-inner{
    width:100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 600px) {
    .grid-container {
      grid-template-columns: 100%;
      /*background-color: #2196F3;*/
      /*padding: 10px;*/
    }
}

/*Filter button start*/

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
/*Filter button end*/

