<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Monitor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}" />
</head>
<body>

<div class="tab" style="display:none;">
    <button class="tablinks" onclick="openTab(event, 'Monitor')" id="defaultOpen">Monitor</button>
</div>

<div id="Monitor" class="tabcontent">
    <div class="grid-container">
        <div class="grid-item" th:each="job : ${allJobs}" th:id="${job.status}">
            <div class="grid-item-inner">
                <p class="monitor-content" th:utext="${job.description}" style="text-align:center;">Description goes here</p>
            </div>
        </div>
    </div>
</div>

<script>

window.scrollTo(0,document.body.scrollHeight);
document.getElementById("defaultOpen").click();
function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
var timer = setTimeout(function() {
    window.location=/*[[${refreshTo}]]*/ '';
    }, 20_000);

</script>
</body>
</html>