<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Monitor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}"/>

</head>
<body>

<div class="tab" id="tab">
    <button class="tablinks" onclick="openTab(event, 'Monitor')" id="defaultOpen">Monitor</button>
</div>
<div class="mainContainer">
    <div id="myBtnContainer">

    </div>
    <div id="Monitor" class="tabcontent">

    </div>
</div>

<script th:inline="javascript">

   /*<![CDATA[*/
    var dataURL = /*[[${url}]]*/ 'test';
    /*]]>*/

</script>
<script type="text/javascript" th:src="@{/js/monitor_tabs.js}"></script>

</body>
</html>