<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Monitor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Monitor')" id="defaultOpen">Monitor</button>
</div>
<div class="mainContainer">
        <div id="Monitor" class="tabcontent">

        </div>
</div>

<script type="text/javascript" th:src="@{/js/monitor.js}"></script>

<!--    <script type="text/javascript" th:src="@{/js/object.js}"></script> -->

</body>
</html>