<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Monitor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Monitor')" id="defaultOpen">Monitor</button>
    </div>

    <div class="mainContainer">
        <div id="Monitor" class="tabcontent">
        </div>
    </div>

    <script th:inline="javascript" th:src="@{/js/monitor.js}"></script>

<script th:inline="javascript" >
    alert([[${url}]]);
</script>
</body>
</html>